* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  width: 33.33%;
  height: 40px;
  cursor: pointer;
}

.main {
  margin: 20px;
  min-height: 80vh;
}

.fetchErr {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
}
